!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title

    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    -# You may wish to remove the 'initial scale=1.0' for non-responsive layouts
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -# Place favicon.ico and apple-touch-icon(s) in the root directory

    = stylesheet_link_tag "screen"
    = javascript_include_tag "libs/modernizr-2.7.1.min"

  %body{:class => current_page.data.bodyclass}
    /[if lt IE 8]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    .container
      %header
        %h1= current_page.data.title
      #main-content{:role => "main"}
        -# Page content gets rendered here
        = yield

      %footer
        %p &copy; #{copyright_years(2011)} AmicusUser

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.10.2.min.js"><\/script>')

    -# Holder.js - canvas-generated placeholder images for prototyping
    = javascript_include_tag "libs/holder"

    = javascript_include_tag "plugins", "script"

    -# Google Analytics: change UA-XXXXX-X to be your site's ID.
    -# :javascript
      -# (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      -# function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      -# e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      -# e.src='//www.google-analytics.com/analytics.js';
      -# r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      -# ga('create','UA-XXXXX-X');ga('send','pageview');
